<h2>Apitest</h2>

<form {{action 'validate' on='submit'}}>
  <label>firstName</label>
  {{input value=firstName focus-out="validateFirstName"}}
  {{x-errors errors=errors.firstName}}
  <br>
  <label>lastName</label>
  {{input value=lastName focus-out="validateLastName"}}
  {{x-errors errors=errors.lastName}}
  <br>
  <label>age</label>
  {{input value=age}}
  {{x-errors errors=errors.age}}
  <br>
  <label>favoriteTool</label>
  {{input value=favoriteTool}}
  {{x-errors errors=errors.favoriteTool}}
  <br>
  <label>email</label>
  {{input value=email}}
  {{x-errors errors=errors.email}}
  <br>
  <label>username</label>
  {{input value=username}}
  {{x-errors errors=errors.username}}
  <br>
  <label>password</label>
  {{input value=password type="password"}}
  {{x-errors errors=errors.password type="password"}}
  <br>
  <label>passwordConfirmation</label>
  {{input value=passwordConfirmation type="password"}}
  {{x-errors errors=errors.passwordConfirmation type="password"}}
  <hr>

  <button style="font-size: 24px;">VALIDATE!</button>
</form>
